# This workflow will pull docker images from gcr.io quay.io and push it to dockerhub or aliyun registry.
#
# To configure this workflow:
#
# 1. Set up env-->global variables as your own: 
#
# 2. Change the values for the DOCKERHUB_PASSWORDã€ALI_PASSWORD environment variables in travis-ci.com:
#    choose "more options-->settings-->Environment Variables"

os: linux
language: bash
services: docker

before_script:
  - docker login --username=fuliqiang1026 registry.cn-beijing.aliyuncs.com --password=$ALI_PASSWORD
 
script:
  - |
    echo "start pull retag and push"
    count=$(cat images.txt | wc -l)
    icount=1
    for image in `cat images.txt`
    do
      echo [$icount/$count]: $image
      image_name=${image##*/}
      docker pull $image
      docker tag $image $ALI_REGISTRY/$ALI_REGISTRY_NAMESPACE/$image_name
            
      # push to aliyun registry
      docker push $ALI_REGISTRY/$ALI_REGISTRY_NAMESPACE/$image_name
      ((icount++))
    done

after_script:
  - docker images --format "{{.Repository}}:{{.Tag}}" | grep $ALI_REGISTRY
