# This workflow will pull docker images from gcr.io quay.io and push it to dockerhub or aliyun registry.
#
# To configure this workflow:
#
# 1. Set up env-->global variables as your own: 
#
# 2. Change the values for the DOCKERHUB_PASSWORDã€ALI_PASSWORD environment variables in travis-ci.com:
#    choose "more options-->settings-->Environment Variables"

os: linux
dist: bionic
language: shell
services: docker

env:
  global:
    - DOCKERHUB_USERNAME=fuliqiang

before_script:
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
 
script:
  - |
    docker pull gcr.io/knative-releases/knative.dev/serving/cmd/queue:0.11.1
    docker tag gcr.io/knative-releases/knative.dev/serving/cmd/queue:0.11.1 $DOCKERHUB_USERNAME/queue:0.11.1
    docker push $DOCKERHUB_USERNAME/queue:0.11.1

    docker pull gcr.io/knative-releases/knative.dev/serving/cmd/activator:0.11.1
    docker tag gcr.io/knative-releases/knative.dev/serving/cmd/activator:0.11.1 $DOCKERHUB_USERNAME/activator:0.11.1
    docker push $DOCKERHUB_USERNAME/activator:0.11.1

    docker pull gcr.io/knative-releases/knative.dev/serving/cmd/autoscaler-hpa:0.11.1
    docker tag gcr.io/knative-releases/knative.dev/serving/cmd/autoscaler-hpa:0.11.1 $DOCKERHUB_USERNAME/autoscaler-hpa:0.11.1
    docker push $DOCKERHUB_USERNAME/autoscaler-hpa:0.11.1

    docker pull gcr.io/knative-releases/knative.dev/serving/cmd/autoscaler:0.11.1
    docker tag gcr.io/knative-releases/knative.dev/serving/cmd/autoscaler:0.11.1 $DOCKERHUB_USERNAME/autoscaler:0.11.1
    docker push $DOCKERHUB_USERNAME/autoscaler:0.11.1

    docker pull gcr.io/knative-releases/knative.dev/serving/cmd/controller:0.11.1
    docker tag gcr.io/knative-releases/knative.dev/serving/cmd/controller:0.11.1 $DOCKERHUB_USERNAME/controller:0.11.1
    docker push $DOCKERHUB_USERNAME/controller:0.11.1

    docker pull gcr.io/knative-releases/knative.dev/serving/cmd/webhook:0.11.1
    docker tag gcr.io/knative-releases/knative.dev/serving/cmd/webhook:0.11.1 $DOCKERHUB_USERNAME/webhook:0.11.1
    docker push $DOCKERHUB_USERNAME/webhook:0.11.1

    docker pull gcr.io/knative-releases/knative.dev/serving/cmd/networking/istio:0.11.1
    docker tag gcr.io/knative-releases/knative.dev/serving/cmd/networking/istio:0.11.1 $DOCKERHUB_USERNAME/istio:0.11.1
    docker push $DOCKERHUB_USERNAME/istio:0.11.1

after_script:
  - docker images --format "{{.Repository}}:{{.Tag}}" | grep $DOCKERHUB_USERNAME