# This workflow will pull docker images from gcr.io quay.io and push it to dockerhub or aliyun registry.
#
# To configure this workflow:
#
# 1. Set up env-->global variables as your own: 
#
# 2. Change the values for the DOCKERHUB_PASSWORDã€ALI_PASSWORD environment variables in travis-ci.com:
#    choose "more options-->settings-->Environment Variables"

os: linux
dist: bionic
language: shell
services: docker

env:
  global:
    - DOCKERHUB_USERNAME=fuliqiang

before_script:
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
 
script:
  - |
    ls
    docker images
    docker build -t flq/cuda:flq .
    activator=$(docker images | grep -v cuda | awk '{print $3}')
    docker tag $activator $DOCKERHUB_USERNAME/pytorch:v1.0
    docker push $DOCKERHUB_USERNAME/pytorch:v1.0

after_script:
  - docker images --format "{{.Repository}}:{{.Tag}}" | grep $DOCKERHUB_USERNAME